@model  ZS_SmartCheckIn.Models.Entity.Ent_Guest
@{
    /**/

    /**/

    ViewBag.Title = "ViewGuest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<ZS_SmartCheckIn.Models.Entity.Ent_GuestData> listGuest = ViewBag.listGuest;
    var i = 0;
}

<script src="../../assets/JCrop/js/jquery.Jcrop.js"></script>
<script src="../../assets/JCrop/js/jquery.Jcrop.min.js"></script>
<link href="../../assets/JCrop/demos.css" rel="stylesheet" />
<link href="../../assets/JCrop/css/jquery.Jcrop.css" rel="stylesheet" />
<script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>

<script src="../../Scripts/ajax/viewguest.js"></script>
<!-- BEGIN PAGE HEADING ROW -->
<style>

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        padding-top: 150px; /* Location of the box */
        padding-left: 160px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    /*croppper*/

    /*top: 180px;*/
    /*right: -1080px;*/

    /* Apply these styles only when #preview-pane has
    been placed within the Jcrop widget */
    /*.jcrop-holder #preview-pane {
        display: block;
        position: absolute;
        z-index: 2000;
        top: 250px;
        right: -6px;
        padding: 6px;
        border: 1px rgba(0,0,0,.4) solid;
        background-color: white;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    }*/

    /*.jcrop-holder #preview-pane {
        display: block;
        position: absolute;

        top: 0px;
        left: 0px;

    }*/

    /* The Javascript code will set the aspect ratio of the crop
    area based on the size of the thumbnail preview,
    specified here */
    /*#preview-pane .preview-container {
        width: 200px;
        height: 170px;
        overflow: hidden;
    }*/

    #preview-pane .preview-container {
        display: block;
        width: 200px;
        height: 170px;
        z-index: -1;
        position: absolute;
        right: -40px;
        top: 390px;
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <!-- BEGIN BREADCRUMB -->
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="/Guest/GuestList?flag=0">Guest List</a>
                </li>
                <li class="active">Guest Profile</li>
            </ul>

        </div>
        <!-- END BREADCRUMB -->
        <div class=" page-header title">
            <h1>Profile</h1>
        </div>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
<!-- END PAGE HEADING ROW -->
<div class="messagebox"></div>

@Html.HiddenFor(x => x.entGuestData.PersonID)
@Html.HiddenFor(x => x.entGuestData.PersonDetailID)
@Html.HiddenFor(x => x.entGuestData.Photo)
@Html.HiddenFor(x => x.entGuestData.Guest_Document, new { id = "ImageURL", Value = @Model.entGuestData.Guest_Document })
@Html.HiddenFor(x => x.entGuestData.CropPointX, new { id = "CropPointX" })
@Html.HiddenFor(x => x.entGuestData.CropPointY, new { id = "CropPointY" })
@Html.HiddenFor(x => x.entGuestData.CropPortionWidth, new { id = "CropPortionWidth" })
@Html.HiddenFor(x => x.entGuestData.CropPortionHeight, new { id = "CropPortionHeight" })
@Html.HiddenFor(x => x.entGuestData.PreviewImageWidth, new { id = "PreviewImageWidth" })
@Html.HiddenFor(x => x.entGuestData.PreviewImageHeight, new { id = "PreviewImageHeight" })

<div class="row">
    <div class="col-lg-12">

        <!-- START YOUR CONTENT HERE -->
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="well well-sm white">
                    <div id="myCarousel" class="carousel slide" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            @*<li data-target="#myCarousel" data-slide-to="1"></li>*@
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="text-align:-webkit-center;">
                            @if (!string.IsNullOrEmpty(@Model.entGuestData.Guest_Document))
                            {

                                <div class="item active">
                                    <img src="../../CardImages/@Model.entGuestData.Guest_Document" id="idcard" alt="[Jcrop Example]" width="300" height="234" />
                                </div>
                            }

                            @*@if (!string.IsNullOrEmpty(@Model.entGuestData.Guest_DocumentBack))
                                {

                                    <div class="item" style="display:none">
                                        <img src="../../CardImages/@Model.entGuestData.Guest_DocumentBack" id="idcard1" width="300" height="234" >
                                    </div>
                                }
                                else
                                {
                                    <div class="item" style="display:none">
                                        <img src="../../assets/images/user-1.jpg" id="idcard1" style="object-fit:cover;width:300px;height:210px" >
                                    </div>
                                }*@

                            @if (!string.IsNullOrEmpty(@Model.entGuestData.Guest_DocumentVisa))
                            {
                                <div class="item">
                                    <img src="../../CardImages/@Model.entGuestData.Guest_DocumentVisa" id="idcard2" width="300" height="234">
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <img src="../../assets/images/user-1.jpg" style="object-fit:cover;width:300px;height:210px" id="idcard2">
                                </div>
                            }
                            <img src="../../assets/images/user-1.jpg" id="idcardCanvas" class="img-responsive" alt="" style="display: none;">
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width:12%">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <p class="text-center">
                        <button type="button" class="btn btn-facebook" id="btnSaveProfile">Set As Profile Picture</button>
                    </p>
                </div>
                <div class="well white padding-25" id="divGallery">
                    <!-- Gallery Style 1 -->
                    <ul class="tc-gallery clearfix" id="listGallery">
                        @foreach (var item in listGuest)
                        {
                            <li id='@item.Guest_Code'>

                                <img alt="" src="../../CardImages/@item.Guest_Document" style="width:120px; height: 90px;">

                                <div class="tags">
                                    <span class="label-holder">
                                        <span class="label label-inverse arrowed-in">@item.Guest_Firstname</span>
                                    </span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <div class="col-lg-8 col-md-8">
                <div class="tc-tabs">
                    <!-- Nav tabs style 1 -->
                    <ul class="nav nav-tabs tab-lg-button tab-color-dark background-dark white">
                        <li class="active"><a href="#p2" data-toggle="tab"><i class="fa fa-desktop bigger-130"></i>Overview</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="container">
                            <div id="preview-pane">
                                <div class="preview-container" id="html-content-holder">
                                    <img src="../../CardImages/@Model.entGuestData.Guest_Document" class="jcrop-preview" id="imgCropped" alt="Preview" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in active" id="p2">
                            <h2>Guest details</h2>
                            <div class="hr hr-12 hr-double"></div>
                            <form class="form-horizontal" role="form" method="post">
                                <div class="form-group">
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                        <input type="hidden" name="GuestCode" id="GuestCode" value="@Model.entGuestData.Guest_Code">
                                        <input type="hidden" id="GuestDataID" value="@Model.entGuestData.Guestdata_id">
                                        <input type="hidden" name="ConfirmationCode" id="ConfirmationCode" value="@Model.Confirmation_Code">
                                        <input type="hidden" name="ImageName" id="ImageName" value="@Model.entGuestData.Guest_Document">

                                        <div class="form-group">
                                            <label class="col-sm-4    col-xs-6 control-label">Customer ID :</label>
                                            <div class="col-sm-4   col-xs-6 ">
                                                <label id="CustomerCode" class="control-label">@Model.Customer_Code</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4  col-xs-6 control-label">First Name :</label>
                                            <div class="col-sm-4  col-xs-6">
                                                <label id="FirstName" class="control-label">@Model.entGuestData.Guest_Firstname</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4  col-xs-6 control-label">Last Name :</label>
                                            <div class="col-sm-4  col-xs-6">
                                                <label id="LastName" class="control-label">@Model.entGuestData.Guest_Lastname</label>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-sm-4  col-xs-6 control-label">Gender : </label>
                                            <div class="col-sm-4  col-xs-6 ">
                                                <label id="Gender" class="control-label">@Model.entGuestData.Guest_Gender</label>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-sm-4  col-xs-6 control-label">DOB : </label>
                                            <div class="col-sm-4  col-xs-6 ">
                                                <label id="DOB" class="control-label">@Model.entGuestData.Guest_DOB</label>
                                            </div>
                                        </div>
                                        @*<div class="form-group ">
                                                <label class="col-sm-4 control-label">Son/Daughter of : </label>
                                                <div class="col-sm-4">
                                                    <label id="Father" class="col-sm-2 control-label">@Model.entGuestData.Guest_Father</label>
                                                </div>
                                            </div>*@
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class=" ">
                                            @if (Model.entGuestData.Guest_ProfileImage == "" || Model.entGuestData.Guest_ProfileImage == null)
                                            {
                                                <img src="../../assets/images/user-1.jpg" id="profileImage" class="profImage" style="width:150px;height:150px;object-fit:cover; border: 5px solid #555;">
                                            }
                                            else
                                            {
                                                <img src="../../ProfileImages/@Model.entGuestData.Guest_ProfileImage" class="profImage" id="profileImage" style="width:150px;height:150px;object-fit:cover; border: 5px solid #555;" alt="">
                                            }
                                        </div>
                                    </div>



                                </div>

                                <div class="form-group ">
                                    <label class="col-sm-3  col-xs-6 control-label">Email :</label>
                                    <div class="col-sm-3 col-xs-6">
                                        <label id="Email" class="control-label">@(!string.IsNullOrEmpty(Model.entGuestData.Guest_Email) ? Model.entGuestData.Guest_Email : "nil")</label>
                                    </div>
                                    <label class="col-sm-3 col-xs-6 control-label">Contact :</label>
                                    <div class="col-sm-3 col-xs-6">
                                        <label id="Phone" class="control-label">@(!string.IsNullOrEmpty(Model.entGuestData.Guest_PhoneNo) ? Model.entGuestData.Guest_PhoneNo : "nil")</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-3 col-xs-6 control-label">Purpose Of Visit :</label>
                                    <div class="col-sm-3 col-xs-6 ">
                                        <label id="Purpose" class="control-label">@Model.entGuestData.Guest_PurposeofVisit</label>
                                    </div>
                                    <label class="col-sm-3  col-xs-6 control-label">Nationality :</label>
                                    <div class="col-sm-3  col-xs-6">
                                        <label id="Nationality" class="control-label">@Model.entGuestData.Guest_Nationality</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 col-xs-6  control-label">Gender :</label>
                                    <div class="col-sm-3 col-xs-6 ">
                                        <label id="Gender" class="control-label">@Model.entGuestData.Guest_Gender</label>
                                    </div>
                                    <label class="col-sm-3 col-xs-6  control-label">Country Of Issue :</label>
                                    <div class="col-sm-3 col-xs-6 ">
                                        <label id="CountryofIssue" class="control-label">@(!string.IsNullOrEmpty(Model.entGuestData.Guest_CountryofIssue) ? Model.entGuestData.Guest_CountryofIssue : "nil")</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Address :</label>
                                    <div class="col-sm-9">
                                        <label id="Address">@Model.entGuestData.Guest_Address</label>
                                    </div>
                                </div>
                                <div class="form-group ">

                                    <label class="col-sm-3 col-xs-6 control-label">Date Of Issue :</label>
                                    <div class="col-sm-3 col-xs-6 ">
                                        <label id="DateOfIssue" class="control-label">@(!string.IsNullOrEmpty(Model.entGuestData.Guest_DateOfIssue) ? Model.entGuestData.Guest_DateOfIssue : "nil")</label>
                                    </div>
                                    <label class="col-sm-3 col-xs-6  control-label">Expiry Date :</label>
                                    <div class="col-sm-3 col-xs-6 ">
                                        <label id="ExpiryDate" class="control-label">@(!string.IsNullOrEmpty(Model.entGuestData.Guest_ExpiryDate) ? Model.entGuestData.Guest_ExpiryDate : "nil")</label>
                                    </div>
                                </div>
                                @*<div class="form-group ">
                                        <label class="col-sm-3 col-xs-6  control-label">Kids :</label>
                                        <div class="col-sm-3 col-xs-6 ">
                                            <label id="Kids" class="control-label">@Model.entGuestData.Guest_ChildCount</label>
                                        </div>

                                        <label class="col-sm-3 col-xs-6  control-label">Adults :</label>
                                        <div class="col-sm-3 col-xs-6 ">
                                            <label id="Adults" class="control-label">@Model.entGuestData.Guest_AdultCount</label>
                                        </div>
                                    </div>*@
                                @*<div class="form-group ">
                                        <label class="col-sm-3  col-xs-6 control-label">State :</label>
                                        <div class="col-sm-3  col-xs-6 ">
                                            <label id="State" class="control-label">@(!string.IsNullOrEmpty(Model.entGuestData.Guest_State) ? Model.entGuestData.Guest_State : "nil")</label>
                                        </div>
                                        <label class="col-sm-3  col-xs-6  control-label">Country :</label>
                                        <div class="col-sm-3  col-xs-6 ">
                                            <label id="Country" class="control-label">@(!string.IsNullOrEmpty(Model.entGuestData.Guest_Country) ? Model.entGuestData.Guest_Country : "nil")</label>
                                        </div>
                                    </div>*@
                                <div class="portlet portlet-basic">
                                    <!-- /Basic Portlet -->
                                    <div class="portlet-heading">
                                        <div class="portlet-title">
                                            <h4>VISA DETAILS</h4>
                                        </div>
                                        <div class="portlet-widgets">

                                            <a data-toggle="collapse" data-parent="#accordion" href="#basic"><i class="fa fa-chevron-down"></i></a>
                                            <span class="divider"></span>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div id="basic" class="panel-collapse collapse in">
                                        <div class="portlet-body">
                                            <div class="note">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Visa No :</label>
                                                    <div class="col-sm-3 ">
                                                        <label id="VisaNo" class="control-label">@Model.entGuestData.Guest_VisaNo</label>
                                                    </div>

                                                    <label class="col-sm-3 control-label">Type Of Visa :</label>
                                                    <div class="col-sm-3 ">
                                                        <label id="VisaType" class="control-label">@Model.entGuestData.Guest_VisaType</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @*<label class="col-sm-3 control-label">City (Place Of Issue) :</label>
                                                        <div class="col-sm-3">
                                                            <label id="VisaCity" class="control-label">@Model.entGuestData.Guest_VisaPOICity</label>
                                                        </div>*@


                                                    <label class="col-sm-3 control-label">Date Of Issue :</label>
                                                    <div class="col-sm-3">
                                                        <label id="IssueDate" class="control-label">@(!string.IsNullOrEmpty(Model.entGuestData.Guest_VisaDateofIssue) ? Model.entGuestData.Guest_VisaDateofIssue : "nil")</label>
                                                    </div>
                                                    <label class="col-sm-3 control-label">Valid Till :</label>
                                                    <div class="col-sm-3">
                                                        <label id="ValidTill" class="control-label">@Model.entGuestData.Guest_VisaValidTill</label>
                                                    </div>
                                                </div>
                                                <div class="form-group  ">

                                                    <label class="col-sm-3 control-label">Country(Place Of Issue) :</label>
                                                    <div class="col-sm-3">
                                                        <label id="VisaCountry" class="control-label">@Model.entGuestData.Guest_VisaPOICountry</label>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            @if (Model.IsWalking == 1)
                                            {
                                                <button type="button" id="btnCheckIn" class="btn btn-success btnCheckIn" @(Model.Is_Active == 2 ? "" : "disabled")>Check-In</button>
                                                <button type="button" style="display:none" class="btn btn-facebook btnVerifyData" @(Model.Is_Active == 2 ? "" : "disabled")>Confirm Details</button>
                                            }
                                            else
                                            { <button type="button" id="btnCheckIn" class="btn btn-success btnCheckIn" @(Model.Is_Active == 3 ? "" : "disabled")>Check-In</button>
                                                <button type="button" class="btn btn-facebook btnVerifyData" @(Model.Is_Active == 2 ? "" : "disabled")>Confirm Details</button>}

                                            @*<button type="submit" class="btn btn-primary" @(Model.Is_Active == 4 ? "" : "disabled")>Push PMS</button>*@
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div><!--nav-tabs style 1-->
            </div>
        </div>
        <!-- END YOUR CONTENT HERE -->
        <!--Overlay Start Here-->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="portlet">
                            <div class="portlet-heading dark">
                                <div class="portlet-title">
                                    <h4>Confirm Check-in</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="f-3" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <form class="form-horizontal" role="form" method="post">
                                        <div class="form-group">
                                            <table id="SampleD" class="datatable table table-hover table-striped table-bordered tc-table">
                                                <thead>
                                                    <tr>
                                                        <th>SlNo</th>
                                                        <th data-hide="phone,tablet">Name</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in listGuest)
                                                    {
                                                        i++;
                                                        <tr id="@item.Guest_Code">
                                                            <td>@i</td>
                                                            <td> @item.Guest_Firstname</td>
                                                            <td class="col-medium center">
                                                                <div class="btn-group btn-group-xs ">
                                                                    @if (listGuest.Count() > 1)
                                                                    {
                                                                        <a href="javascript:;" class="btn btn-danger btnDeleteguest"><i class="fa fa-trash icon-only"></i></a>
                                                                        <input type="hidden" value="@item.Guest_Code" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="javascript:;" disabled class="btn btn-danger btnDeleteguest"><i class="fa fa-trash icon-only"></i></a>
                                                                        <input type="hidden" value="@item.Guest_Code" />
                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-actions">
                                            <div class="form-group">
                                                <div class="col-sm-8">
                                                    <input type="text" id="confirmcode" class="form-control" placeholder="Enter Confirmation Code">
                                                </div>

                                                <div class="col-sm-4">
                                                    <button type="button" class="btn btn-danger btnCancelCheckin">Cancel</button>
                                                    <button type="button" class="btn btn-success btnConfirmCheckIn">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Overlay Ends Here-->
    </div>
</div>

<script>



    $('.btnCheckIn').click(function () {
        if (@Model.IsWalking== 0) {
            document.getElementById("myModal").style.display = "block";
        }
        else
        {
            var CustomerCode = document.getElementById('CustomerCode').innerText;

            $.ajax({
                type: "POST",
                url: "/Guest/UpdateCheckIn",
                data: "{'Customer_Code':'" + CustomerCode + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () { $("#loader").css("display", "block"); },
                complete: function () { $("#loader").css("display", "none"); },
                success: OnSuccessSaveCall,
                error: OnErrorSaveCall
            });
            function OnSuccessSaveCall(data) {
                if (data > "0") {
                    $(window).scrollTop(0);
                    $(".messagebox").append('<div class="well bg-success msg"><strong> Success!</strong> Check-In Successful.</div>');
                    $(".msg").delay(8000).fadeOut(800);
                    setTimeout(
                        function () {
                            location.href = "/Guest/GuestList?flag=3";
                        }, 800);
                }
                else {
                    $(window).scrollTop(0);
                    $(".messagebox").append('<div class="well bg-primary msg"><strong> Error!</strong> Failed To Check-In.</div>');
                    $(".msg").delay(4000).fadeOut(800);

                }
            }
            function OnErrorSaveCall() {
                $(window).scrollTop(0);
                $(".messagebox").append('<div class="well bg-primary msg"><strong> Error!</strong> Failed To Check-In.</div>');
                $(".msg").delay(4000).fadeOut(800);
            }
        }
    });
    $('.btnCancelCheckin').click(function () {
        document.getElementById("myModal").style.display = "none";
    });


    var imageCropWidth,
        imageCropHeight,
        cropPointX,
        cropPointY,
        jcrop_api,
        boundx,
        boundy
    //parent.$('.modal-content').css('height', '510px');
    //parent.$('.bootstrap-modal-body').css('height', '500px');

    //parent.$('.modal-content').css('width', '680px');
    //parent.$('.bootstrap-modal-body').css('width', '690px');

    // Grab some information about the preview pane

    $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();

    $('#idcard').Jcrop({
        //boxWidth: 450, //Maximum width you want for your bigger images
        //boxHeight: 400, //Maximum Height for your bigger images
        //minSize: [25, 25],
        onChange: updatePreview,
        onSelect: updatePreview,
        aspectRatio: 0
        //bgFade: true, // use fade effect
        //bgOpacity: .6, // fade opacity
    }, function () {

        var bounds = this.getBounds();
        boundx = bounds[0];
        boundy = bounds[1];
        jcrop_api = this;
        $preview.appendTo(jcrop_api.ui.holder);
    });

    function updatePreview(c) {
        if (parseInt(c.w) > 0) {
            var rx = xsize / c.w;
            var ry = ysize / c.h;

            $pimg.css({
                width: Math.round(rx * boundx) + 'px',
                height: Math.round(ry * boundy) + 'px',
                marginLeft: '-' + Math.round(rx * c.x) + 'px',
                marginTop: '-' + Math.round(ry * c.y) + 'px'
            });
            //cropPointX = Math.round(c.x);
            //cropPointY = Math.round(c.y);
            //imageCropWidth = Math.round(c.w);
            //imageCropHeight = Math.round(c.h);

            //$('#CropPointX').val(cropPointX);
            //$('#CropPointY').val(cropPointY);
            //$('#CropPortionWidth').val(imageCropWidth);
            //$('#CropPortionHeight').val(imageCropHeight);

            //$('#PreviewImageWidth').val($('.jcrop-holder img').width());
            //$('#PreviewImageHeight').val($('.jcrop-holder img').height());
        }
    };

    $('#divGallery').on('click', 'li', function () {
        jcrop_api.release();

        var Guest_Code = this.id;

        $.ajax({
            type: "POST",
            url: "/Guest/SelectGuestDetails",
            data: "{'Guest_Code':'" + Guest_Code + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                if (data != "") {
                    document.getElementById('idcard').src = "../../CardImages/" + data.entGuestData.Guest_Document;

                    document.getElementById('imgCropped').src = "../../CardImages/" + data.entGuestData.Guest_Document;

                    if (data.entGuestData.Guest_ProfileImage == "" || data.entGuestData.Guest_ProfileImage == null)
                    {

                        document.getElementById('profileImage').src = "../../assets/images/user-1.jpg";
                    }
                    else {
                        document.getElementById('profileImage').src = "../../ProfileImages/" + data.entGuestData.Guest_ProfileImage;
                    }


                    //if (data.entGuestData.Guest_DocumentBack != '' && data.entGuestData.Guest_DocumentBack != null)
                    //    document.getElementById('idcard1').src = "../../CardImages/" + data.entGuestData.Guest_DocumentBack;
                    //else
                    //    document.getElementById('idcard1').src = "../../assets/images/user-1.jpg";

                    if (data.entGuestData.Guest_DocumentVisa != '' && data.entGuestData.Guest_DocumentVisa != null)
                        document.getElementById('idcard2').src = "../../CardImages/" + data.entGuestData.Guest_DocumentVisa;
                    else
                        document.getElementById('idcard2').src = "../../assets/images/user-1.jpg";

                    document.getElementById('GuestCode').value = data.entGuestData.Guest_Code;
                    document.getElementById('GuestDataID').value = data.entGuestData.Guestdata_id;
                    document.getElementById('FirstName').innerText = data.entGuestData.Guest_Firstname;
                    document.getElementById('LastName').innerText = data.entGuestData.Guest_Lastname;
                    document.getElementById('Phone').innerText = data.entGuestData.Guest_PhoneNo;
                    document.getElementById('Email').innerText = data.entGuestData.Guest_Email;
                    //document.getElementById('Father').innerText = data.entGuestData.Guest_Father;
                    document.getElementById('DOB').innerText = data.entGuestData.Guest_DOB;
                    //document.getElementById('Country').innerText = data.entGuestData.Guest_Country;
                    //document.getElementById('City').innerText = data.entGuestData.Guest_City;
                    //document.getElementById('State').innerText = data.entGuestData.Guest_State;
                    document.getElementById('Nationality').innerText = data.entGuestData.Guest_Nationality;
                    document.getElementById('Address').innerText = data.entGuestData.Guest_Address;
                    document.getElementById('Gender').innerText = data.entGuestData.Guest_Gender;
                    document.getElementById('Purpose').innerText = data.entGuestData.Guest_PurposeofVisit;
                    //document.getElementById('CountryofIssue').innerText = data.entGuestData.Guest_CountryofIssue;
                    document.getElementById('CountryofIssue').innerText = data.entGuestData.Guest_Country;
                    document.getElementById('DateOfIssue').innerText = data.entGuestData.Guest_DateOfIssue;
                    document.getElementById('ExpiryDate').innerText = data.entGuestData.Guest_ExpiryDate;

                    document.getElementById('VisaNo').value = data.entGuestData.Guest_VisaNo;
                    //document.getElementById('VisaCity').value = data.entGuestData.Guest_VisaPOICity;
                    document.getElementById('VisaCountry').value = data.entGuestData.Guest_VisaPOICountry;
                    document.getElementById('VisaType').value = data.entGuestData.Guest_VisaType;
                    document.getElementById('ValidTill').value = data.entGuestData.Guest_VisaValidTill;
                    document.getElementById('IssueDate').value = data.entGuestData.Guest_VisaDateofIssue;

                    //document.getElementById('Adults').value = data.entGuestData.Guest_Adults;
                    //document.getElementById('Kids').value = data.entGuestData.Guest_Kids;
                    //document.getElementById('Nights').value = data.entGuestData.Guest_Nights;
                    //document.getElementById('Days').value = data.entGuestData.Guest_Days;
                    document.getElementById('ImageName').value = data.entGuestData.Guest_Document;

                    $('.jcrop-holder img').attr('src', "../../CardImages/" + data.entGuestData.Guest_Document);

                }
                else {
                }
            },
            error: function () { }
        });
    });


    function dataURItoBlob(dataURI) {
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        return new Blob([ia], { type: mimeString });
    }



    $('#btnSaveProfile').on('click', function () {
        html2canvas(document.getElementById("html-content-holder")).then(function (canvas) {

            var dataURL = canvas.toDataURL('image/jpeg', 1.0);
            var profileFile = dataURItoBlob(dataURL);

            var Guest_Code = $('#GuestCode').val();
            var Guestdata_id = $('#GuestDataID').val();
            var data = new FormData;
            data.append("Guest_ProfileImage", profileFile);
            data.append("Guest_Code", Guest_Code);
            data.append("Guestdata_id", Guestdata_id);
            if (Guest_Code != "") {
                $.ajax({
                    type: "POST",
                    url: "/Guest/UpdateProfile",
                    data: data,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    success: function (data) {

                        if (data != "") {


                            $('.profImage').attr('src', "../../ProfileImages/" + data);

                            //document.getElementById('profileImage').src = "";
                           // document.getElementById('profileImage').src = "../../ProfileImages/" + data;
                        }
                        else {

                        }
                    },
                    error: function () {

                    }
                });
            }
        });
    });


    function wait(ms) {
        var start = new Date().getTime();
        var end = start;
        while (end < start + ms) {
            end = new Date().getTime();
        }
    }


</script>
